header {
    background-color: aqua;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    border: solid;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    background-color: bisque;
    font-size: medium;
    border: solid;
}

.container {
    border: solid;
    margin: 5% 0;
    background-color: rgb(193, 193, 223);
    padding-: 4%;
    float: left;
    width: 50%;
}

.container,
h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

#list-container {
    border: solid;
    background-color: rgb(244, 147, 20);
    float: right;
    width: 40%;
    margin-top: 5%;
    padding: 1%;
}

h5 {
    text-transform: uppercase;
    text-align: center;
    background-color: aliceblue;
    border: solid;
}

footer {
    background-color: aqua;
    padding: 5%;
    margin-top: 4%;
    border: solid;
    text-align: center;
    text-transform: uppercase;
    clear: both;
}